.container{
    width: 960px;
    margin: 0 auto;
    color: whitesmoke;
    
}

img{
    width: 960px;
}

nav{
    height: 100px;
    background-color: #16242F;
    
}


.menu{
    
float: right;
margin-right: 25px;
margin-top: 66px;

}

.linav {
    
    display: inline-block;
    padding: 5px;
}

.lienmenu {
    
    color: white;
    text-decoration: none;
}


.logo {
    
    float: left;
    max-height: 100px;
    max-width: 300px;
    padding-left: 5px
}


body {
    background-image: url(IMAGEs/matrixbackground.jpg);
    background-attachment: fixed;
        
}

p {
    
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}

.precode {
    
    text-align: center;
    font-weight: bold;
    
}

